h1{
    margin-left: 38%;
}

.errorbtn{
    border-radius: 4px;
    background-color:red;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    
}

.backbtn{
    
    border-radius: 4px;
    background-color:green;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 45%;
    
}